body {
  font-family: sans-serif;
}

.message {
  background-color: #90caf9;
  padding: 6px;
  margin: 20px 6px;
  border: 2px solid #0d47a1;
  border-radius: 6px;
}

.message.success {
  border-color: #558b2f;
  background-color: #aed581;
}

.message.error {
  border-color: #d32f2f;
  background-color: #ef5350;
  color: #fff;
}